body{
  background-color: #ECDBBA;
}

hr{
  border-style: none;
  border-bottom-style: dotted;

  border-color: #2D4263;
  border-width: 8px;
  width: 10%;
}

h1{
  color: #C84B31;
}

h2{
  color: #C84B31;
}

h3{
  color: #C84B31;
}

a{
  color: #C84B31;
}
a:visited{
  color: #2D4263;
}
